@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: transparent;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: var(--theme-side-bg-shade);
		border-radius: 100vh;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		/* background: #c0a0b9; */
		background: var(--theme-side-bg-shade);
	}

	.ripple-effect {
		position: absolute;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		width: 5px;
		height: 5px;
		pointer-events: none;
		z-index: 5;
		animation: ripple 0.7s linear infinite;
	}

	.arrow-back {
		display: none;
	}

	.content-hide {
		width: 0px !important;
	}

	.hide {
	}

	.fullscreen {
	}

	.main-mobile-overflow {
	}

	@media (max-width: 925px) {
		.arrow-back {
			display: flex;
		}
	}

	/* width: 0px !important; */

	@media (max-width: 600px) {
		.hide {
			display: none;
		}
		.fullscreen {
			width: 100vw;
		}
		.main-mobile-overflow {
			overflow: hidden;
		}
	}

	@keyframes ripple {
		0% {
			width: 0;
			height: 0;
			opacity: 0.3;
		}
		100% {
			width: 500px;
			height: 500px;
			opacity: 0;
		}
	}

	.message-ico-appearance-effect {
		animation: message-ico-appearance 0.4s linear normal;
	}

	.message-input-form:hover .message-ico-appearance-effect {
		color: white;
	}

	.message-ico-appearance-effect-mic {
		animation: message-ico-appearance-mic 0.4s linear normal;
	}

	@keyframes message-ico-appearance {
		0% {
			opacity: 0.5;
			transform: scale(0);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	@keyframes message-ico-appearance-mic {
		0% {
			opacity: 0.5;
			transform: scale(0);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	.search-ico-rotate-effect {
		animation: search-ico-rotate 0.2s linear normal;
	}

	@keyframes search-ico-rotate {
		0% {
			transform: rotate(-90deg);
		}
		100% {
			transform: rotate(0);
		}
	}

	.search-ico-rotate-b-effect {
		animation: search-ico-rotate-b 0.2s linear normal;
	}

	@keyframes search-ico-rotate-b {
		0% {
			transform: rotate(90deg);
		}
		100% {
			transform: rotate(0);
		}
	}

	.menu-content-appearance-effect {
		animation: menu-content-appearance 0.1s linear normal;
	}

	@keyframes menu-content-appearance {
		0% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}

	.menu-content-appearance-effect-b {
		animation: menu-content-appearance-b 0.1s linear normal;
	}

	@keyframes menu-content-appearance-b {
		0% {
			transform: scale(0.8);
		}
		100% {
			transform: scale(1);
		}
	}

	.compact-menu-appearance-effect {
		animation: compact-menu-appearance 0.2s ease-in-out normal;
	}

	@keyframes compact-menu-appearance {
		0% {
			opacity: 0.7;
			transform: scale(0.7);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	.spinner-rotation-effect {
		animation: spinner-rotation 1s linear infinite;
	}

	@keyframes spinner-rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.appearance-effect {
		animation: appearance 1s linear normal;
	}

	@keyframes appearance {
		0% {
			transform: opacity(0);
		}
		100% {
			transform: opacity(1);
		}
	}
}

:root {
	--theme-background-color: #0f0f0f;
	--theme-side-bg-color: #212121;
	--theme-side-bg-shade: #2c2c2c;
	--theme-active-bg-color: #766ac8;
	--color-primary: #8774e1;
	--color-primary-opacity: #8378db80;
	--color-link-inactive: #a5a5a5;
	--color-link-active: #8774e1;
	--theme-link-bg-active: #2b2b2b;
	--color-menu-link-hover: #17161b;
	--color-text: white;
	--color-default-shadow: rgba(16, 16, 16, 0.611764705882353);
	--color-bg-menu: rgba(33, 33, 33, 0.8666666666666667);
	--color-message: #aaaaaa;
	--color-message-rbga: rgba(170, 170, 170, 0.5);
	--color-svg: #aaaaaa;
	--color-error: #e53935;
	--color-meta: #686c72;
	--color-pinned: #707579;
	--color-gray: #717579;
	--meta-colored: #8378db;
	--color-border: #303030;
	--color-composer-button: #aaaaaacc;
	--color-message-shadow: rgb(16, 16, 16, 0.612);
	--color-bg-s-message: #766ac8;
	--borders-color: #5b5b5a;
	--compact-bg-color: #212121dd;
	--button-bg-shade-color: rgba(123, 112, 198, 0.08);
	--button-bg-regular-shade-color: rgba(135, 116, 225, 0.8);
	--pattern-color: #0a0a0a8c;

	--side-header-padding: 0.375rem 0.8125rem 0.5rem 0.8125rem;
	--side-header-p-lxr: 0.375rem;
	--side-content-padding: 0.5rem 0.4375rem 0.5rem 0.4375rem;
	--side-content-p-txb: 0.5rem;
	--side-content-p-lxr: 0.4375rem;

	--auth-height: calc(100vh + 15rem);
	--screen-dvh: 100dvh;
	/* --auth-height: 100dvh; */

	--preview-padding: 0.5625rem;
	--tab-padding: 0.625rem 0.25rem;
	--tab-padding-lxr: 0.625rem;
	--tab-padding-txb: 0.625rem;
	--tab-padding-inner: 0.5rem;
	--tab-font-w: 500;
	--tab-font-size: 0.875rem;

	--default-font-size: 16px;
	--large-font-size: 19px;

	--default-line-height: 1.5;
	--default-font-weight: 400;
	--small-text-size: 0.75rem;
	--default-pin-size: 0.8rem;

	/* --grid-side-medium: 33vw 1fr; */

	--grid-side-medium: auto 1fr;

	--grid-side-w: 25vw;
	--right-col-w: 25vw;

	--bg-image-size: 510px auto;

	--default-margin-right: 0.5rem;

	--side-nav-shadow: 0 2px 2px #00000040;
	--middle-light-shadow: 0 2px 2px rgb(0, 0, 0, 0.251);
	--modal-dialog-shadow: 0 0.25rem 0.5rem 0.125rem #1010109c;

	--default-border-radius: 0.75rem;

	--ico-gradient: white -125%, red;

	--preview-image-w: 3.375rem;
	--preview-image-h: 3.375rem;
	--preview-image-sm-w: 2.5rem;
	--preview-image-sm-h: 2.5rem;

	--search-input-h: calc(2.5rem + 3px);
	--search-border-r: 1.375rem;

	--border-width: 1px;
	--search-padding: calc(0.4375rem - var(--border-width))
		calc(2.625rem - var(--border-width)) calc(0.5rem - var(--border-width))
		calc(2.75rem - var(--border-width));
	--border-radius-message-small: 0.375rem;
	--search-default-height: 2.5rem;

	--bttn-smaller-p: 0.3125rem;
	--bttn-smaller-w: 2.5rem;
	--bttn-smaller-h: 2.5rem;

	--unread-padding: 0 0.3125rem;
	--preview-content-w: calc(var(--grid-side-w) - var(--preview-image-w) - 80px);

	--send-status-ico-wxh: 0.87rem;
	/* --side-content-vh-h: calc(
		100vh - var(--search-input-h) - var(--side-header-p-lxr) * 2 -
			var(--tab-padding-txb) * 2 - var(--side-content-p-txb) * 2 - 24px
	); */

	--side-content-vh-h: calc(
		100dvh - var(--search-input-h) - var(--side-header-p-lxr) * 2 -
			var(--tab-padding-txb) * 2 - var(--side-content-p-txb) * 2 - 24px
	);

	--small-ltime-fs: 0.75rem;

	--middle-header-p-txb: 0.5rem;
	--middle-header-p-l: max(1.5rem, env(safe-area-inset-left));
	--middle-header-p-r: max(0.8125rem, env(safe-area-inset-right));

	--miidle-content-bm-m-b: 1.25rem;
	--middle-message-bottom: calc(0px + var(--miidle-content-bm-m-b));
	--middle-content-bottom: calc(0px + var(--miidle-content-bm-m-b) * 4.25);
	--middle-content-height: calc(
		100vh - var(--miidle-content-bm-m-b) * 4.25 - var(--middle-header-p-txb) * 2 -
			var(--preview-image-sm-h) - 10px
	);
	--message-container-max-w: 45.5rem;
	--message-container-w: calc(100% - var(--right-col-w));
	--message-translate-percent: calc(50% - var(--message-container-w) / 2);
	--composer-text-size: 16px;
	--message-input-p: calc(
			(3.5rem - var(--composer-text-size, 1rem) * 1.3125) / 2
		)
		0;
	--message-input-p-txb: calc(3.5rem - var(--composer-text-size, 1rem) * 1.3125) /
		2;
	--message-border-radius: 0.75rem;
	--message-control-fs: 1.4rem;
	--message-control-pos-l: calc(var(--message-control-fs) / 1.5);
	--message-control-pos-r: calc(var(--message-control-fs) / 1.5 * -1);
	--message-mic-control-wxh: 3.5rem;

	--message-shadow: 0 1px 2px var(--color-message-shadow);
	--compact-menu-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
	--message-text-size: 16px;

	--s-message-m-b: 0.625rem;
	--s-message-out-p: 0.3125rem 0.5rem 0.375rem;
	--s-message-br-tb-lr: 0.75rem;
	--s-message-fs: var(--message-text-size, 1rem);
	--s-message-max-w: 30rem;
	--s-message-grid-t-col: auto 1fr;

	--user-ico-wrapper-p: 0.625rem 0.25rem;
	--user-ico-wrapper-inner-m: auto 0.375rem;

	--border-width: 1px;
	--personal-input-padding: calc(0.75rem - var(--border-width))
		calc(0.9rem - var(--border-width));

	--spinner-size: 1.8125rem;
	--spinner-blue: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzgzNzhEQiIvPjwvc3ZnPg==);
	--spinner-black: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzJlMzkzOSIvPjwvc3ZnPg==);
	--spinner-white: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iI2ZmZmZmZiIvPjwvc3ZnPg==);
	--spinner-green: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzRmYWU0ZSIvPjwvc3ZnPg==);
	--spinner-yellow: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iI0ZERDc2NCIvPjwvc3ZnPg==);
	--spinner-gray: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzcwNzU3OSIvPjwvc3ZnPg==);
	--spinner-light-blue: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzRlYTRmNiIvPjwvc3ZnPg==);

	--arrow-back: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;

		--theme-background-color: #0f0f0f;
	}
}

@media (max-width: 1275px) {
	:root {
		--grid-side-w: 33vw;
		--message-container-w: 100%;
	}
}

@media (max-width: 925px) {
	:root {
		--grid-side-w: 26.5rem !important;
		--arrow-back: block;
	}
}

@media (max-width: 600px) {
	:root {
		--grid-side-w: 100vw !important;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0px 1000px var(--theme-side-bg-color) inset;
}

body {
	/* color: rgb(var(--foreground-rgb));
  	background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
